{% extends 'base.html.twig' %}

{% block title %}Ajouter des photos{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fun Album</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../public/album">Album</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="../public/photo">Ajouter photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../public/diaporama">Diaporama</a>
            </li>
            </ul>
        </div>
</nav>
   <center><h2 style="font-style: oblique; color: red;">Ajouter une photo à un album !!</h2></center>
   <p style="color: green">Selectionner un album:</p>
<form method="POST" enctype="multipart/form-data">
    <select name="album" id="" required>
        {% for album in albums %}
        <option value='{{ album.id }}'>{{ album.nom }}</option>
    {% endfor %}
    </select>
    <br><br><p style="color: green">Votre photo :</p>
    <input type="file" multiple name="photo[]" accept="image/png,image/jpg" required>
    <center><input type="submit" name="submit"></center>
</form>

{% endblock %}
