{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <center><h2 style="font-style: oblique; color: red;">Nouvelle Album</h2></center>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('album_index') }}">back to list</a>
{% endblock %}
